<h1>Inscription</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% for role in Role.find(:all) %>
  <div>
    <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
    <%= role.name.underscore.humanize %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Inscription" %>
  </div>
<% end %>