<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:direction] %>

<table class="order_by">
  <td>
    <%= sortable "last_name", "Tri par nom" %>
  </td>
  <td>
    <%= sortable "updated_at", "Tri par date" %>
  </td>
</table>
<%= will_paginate %>
<table class="prospects" summary="User prospects">
  <% for prospect in @prospects %>
<% if can? :read, prospect %>  
    <tr>
      <td class="prospect">
        <% if prospect.created_at == prospect.updated_at %>
        <span class="user">
          <%= link_to prospect.user.firstname + " " + prospect.user.lastname, prospect.user %>
        </span>
        <span class="name">a un nouveau prospect : 
          <%= link_to prospect.first_name+ " " + prospect.last_name, prospect %>
        </span>
        <% else %>
        <span class="name">Le prospect  
          <%= link_to prospect.first_name+ " " + prospect.last_name, prospect %> a été modifié
        </span>
        <%  end %>
        <span class="timestamp">
          Mis à jour le <%= time_ago_in_words(prospect.updated_at) %>.
        </span>
      </td>
      <td>
      <% if can? :update, prospect %>  
        <%= link_to "éditer", edit_prospect_path(prospect) %>
      <% end %>
      </td>
      <td>
      <% if can? :destroy, prospect %>
        <%= link_to "supprimer", prospect, :method => :delete, :title => "#{prospect.first_name} #{prospect.last_name}" %>
      <%  end %>
      </td>
    </tr>
    <%  end %>
<%  end %>
</table>
<%= will_paginate %>