<h1>Edition du prospect</h1>
<%= form_for(@prospect, :validate=>true) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="timespent">
    <%= f.text_field :timespent %>
  </div>  
  <fieldset>
    <legend>1ère étape: Question d'introduction</legend>
  <div class="checkbox">
    <%= f.label :professional_status, "Statut professionnel:"  %>
    <%= f.radio_button :professional_status, "Cadre" %>Cadre
    <%= f.radio_button :professional_status, "Non cadre" %>Non cadre
  </div>
  <div class="checkbox">
    <%= f.label :impots_sur_le_revenu, "Impot sur le revenu:"  %>
    <%= f.radio_button :impots_sur_le_revenu, "-3500€" %>-3500€
    <%= f.radio_button :impots_sur_le_revenu, "+3500€" %>+3500€
  </div>
  </fieldset>
  <fieldset>
    <legend>2ème étape: Prise de rendez-vous</legend>
  <div class="checkbox">
    <%= f.label :rendezvous_at, "Impot sur le revenu:"  %>
    <%= f.radio_button :rendezvous_at, "Lieu professionnel" %>Lieu professionnel
    <%= f.radio_button :rendezvous_at, "Cabinet" %>Cabinet
    <%= f.radio_button :rendezvous_at, "Domicile" %>Domicile
  </div>
    <div class="field">
      <%= f.label :rendezvous_at %>
      <%= f.text_field :rendezvous_at %>
    </div>
    <div class="field">
      <%= f.label :rendezvous_place %>
      <%= f.text_field :rendezvous_place %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :floor %>
      <%= f.text_field :floor %>
    </div>
    <div class="field">
      <%= f.label :digital_code %>
      <%= f.text_field :digital_code %>
    </div>
    <div class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>
    <div>
      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :office_phone_number %>
        <%= f.text_field :office_phone_number %>
      </div>
    </div>
    <div class="field">
      <%= f.label :mobile_phone_number %>
      <%= f.text_field :mobile_phone_number %>
    </div>
  </fieldset>
  <fieldset>
    <legend>3ème étape: Qualifications</legend>
  <div class="checkbox">
    <%= f.label :civility, "Civilité"  %>
    <%= f.radio_button :civility, "M." %>M.
    <%= f.radio_button :civility, "Mlle" %>Melle
    <%= f.radio_button :civility, "Mme" %>Mme
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
   <div class="field">
    <%= f.label :birthyear %>
    <%= f.text_field :birthyear %>
  </div>
  <div class="field">
    <%= f.label :situation_familiale %>
    <%= f.text_field :situation_familiale %>
  </div>
  <div class="field">
    <%= f.label :nb_enfants_a_charges %>
    <%= f.text_field :nb_enfants_a_charges %>
  </div>
  <div class="field">
    <%= f.label :revenus_mensuels_net %>
    <%= f.text_field :revenus_mensuels_net %>
  </div>
  <div class="field">
    <%= f.label :charges_rp %>
    <%= f.text_field :charges_rp %>
  </div>
  <div class="field">
    <%= f.label :birthyear %>
    <%= f.text_field :birthyear %>
  </div>
  <div class="field">
    <%= f.label :taux_endettement  %>
    <%= f.text_field :taux_endettement  %>
  </div>
  </fieldset>
  <div id="validate_box">
    <div class="field">
      <%= f.radio_button :prospect_status, "To classify" %>RDV OK<br />
      <p id="prospect_prospect_status_rendezvous_booked" class="hidden_fields">
        <%= f.label :rendezvous_at %>
         <%= f.text_field :rendezvous_at, :value => @prospect.rendezvous_at.try(:strftime,"%d/%m/%Y %H:%M"), :class => "datepicker_edit" %>
      </p>
    </div>
    <div class="field">
      <%= f.radio_button :prospect_status, "To recall" %>A rappeler<br />
      <p id="prospect_prospect_status_to_recall" class="hidden_fields">
        <%= f.label :to_recall %><br />
        <%= f.text_field :to_recall, :value => @prospect.to_recall %><br />
        <%= f.label :to_recall_at %><br />
        <%= f.text_field :to_recall_at, :value => @prospect.to_recall_at.try(:strftime,"%d/%m/%Y %H:%M"), :class => "datepicker_edit" %>
      </p>
    </div>
    <div class="field">
      <%= f.radio_button :prospect_status, "Off target" %>Hors Cible<br />
      <p id="prospect_prospect_status_off_target" class="hidden_fields">
        <%= f.label :off_target_cause %><br />
        <%= f.text_area :off_target_cause %>
      </p>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>
