<h1>Edition du prospect</h1>
<%= debug @prospect %>

<%= form_for(@prospect) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="timespent">
    <%= f.text_field :timespent %>
  </div>  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :birthyear %><br />
    <%= f.text_field :birthyear %>
  </div>
  <div id="validate_box">
    <div class="field">
      <%= f.radio_button :prospect_status, "meeting booked" %>RDV OK<br />
      <p id="prospect_prospect_status_meeting_booked" class="hidden_fields">
        <%= f.label :meeting_at %><br />
         <%= f.text_field :meeting_at, :value => @prospect.meeting_at.try(:strftime,"%d/%m/%Y %H:%M"), :class => "datepicker" %>
      </p>
    </div>
    <div class="field">
      <%= f.radio_button :prospect_status, "to classify" %>A classer<br />
    </div>
    <div class="field">
      <%= f.radio_button :prospect_status, "to recall" %>A rappeler<br />
      <p id="prospect_prospect_status_to_recall" class="hidden_fields">
        <%= f.label :to_recall %><br />
        <%= f.text_field :to_recall %><br />
        <%= f.label :to_recall_at %><br />
        <%= f.text_field :to_recall_at, :value => @prospect.to_recall_at.try(:strftime,"%d/%m/%Y %H:%M"), :class => "datepicker" %>
      </p>
    </div>
    <div class="field">
      <%= f.radio_button :prospect_status, "off target" %>Hors Cible<br />
      <p id="prospect_prospect_status_off_target" class="hidden_fields">
        <%= f.label :off_target_cause %><br />
        <%= f.text_area :off_target_cause %>
      </p>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>
